*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#password{
    width: 400px;
    height: 50px;
    padding: 18px;
    font-size: 20px;
    border: 2px solid gray;
}